﻿@using BoilerplateNet6.Models
@namespace BoilerplateNet6.Pages.Account.Center

<div class="listContent">
    <div class="description">@Data.Content</div>
    <div class="extra">
        <Avatar Src="@Data.Avatar" Size="small" />
        <a href="@Data.Href">@Data.Owner</a> Posted on <a href="@Data.Href">@Data.Href</a>
        <em>@Data.UpdatedAt.ToString("yyyy-MM-dd HH:mm:ss")</em>
    </div>
</div>

@code
{
    [Parameter] public ListItemDataType Data { get; set; }
}
