@namespace BoilerplateNet6.Pages.Account.Settings

<AntList 
    TItem="UserLiteItem"
    ItemLayout="ListItemLayout.Horizontal"
    DataSource="_data">
    <ListItem Actions="_actions">
        <ListItemMeta Avatar="" Description="@context.Description">
            <TitleTemplate>@context.Title</TitleTemplate>
        </ListItemMeta>
    </ListItem>
</AntList>

@code
{
    private static RenderFragment _modify = @<a key="modify">Modify</a>;
    private readonly RenderFragment[] _actions = {_modify};
}